<a href="https://colab.research.google.com/github/sikyung/DynamiKontrol-master/blob/master/9th_week_python_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1부터 5까지의 정수 리스트 만들기

In [3]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [6]:
print(number_list)

[1, 2, 3, 4, 5]

In [4]:
number_list = []
for number in range(1,6):
  number_list.append(number)

In [7]:
number_list

[1, 2, 3, 4, 5]

In [8]:
number_list = list(range(1,6))

In [9]:
print(number_list)

[1, 2, 3, 4, 5]

List comprehension

In [11]:
number_list = [number for number in range(1,6)]
print(number_list)

[1, 2, 3, 4, 5]

함수 적용

In [12]:
number_list = [number-1 for number in range(1,6)]
print(number_list)

[0, 1, 2, 3, 4]

조건 적용

In [17]:
a_list = [number for number in range(1,6) if number % 2 == 1]
print(a_list)

# for 문 적용 시,
a_list = []

for number in range(1,6):
  if number % 2 == 1:
    a_list.append(number)
print(a_list)

[1, 3, 5]
[1, 3, 5]

List Comprehension 예제

In [18]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!!!!']

# 함수 적용
a_exam = [word.lower() for word in sentence]
print(a_exam)

# 조건 적용
b_exam = [word for word in sentence if len(word) > 6]
print(b_exam)

# 함수 적용하여 튜플로 저장
c_exam = [(x,x**2, x**3) for x in range(10)]
print(c_exam)

['i', 'love', 'python', 'soooooo', 'much!!!!!!']
['Soooooo', 'MUCH!!!!!!']
[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729)]

List Comprehension - 두 개의 for

In [19]:
rows = range(1,4)
cols = range(1,3)

for row in rows:
  for col in cols:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [21]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]

for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [24]:
# 다음은 어떤 결과가?
numbers = [(i,j) for i in range(5) for j in range(i)]
print(numbers)

[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (4, 3)]

Dictionary Comprehension

In [26]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [27]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

print(letter_counts)

{'e': 2, 's': 1, 't': 2, 'r': 1, 'l': 1}

Set Comprehension

In [28]:
a_set = {number for number in range(1,6) if number % 3 == 1}
print(a_set)

{1, 4}

강의 과제

In [29]:
d = {"apple": 1, "banana": 2, "orange": 3}

inverted_dict = {v:k for k,v in d.items()}

print(d)
print(inverted_dict)

{'apple': 1, 'banana': 2, 'orange': 3}
{1: 'apple', 2: 'banana', 3: 'orange'}

In [38]:
def is_palindrome(word):
    return word == word[::-1]

hamlet = "man", "level", "madam"

palindromes = {word for word in hamlet if is_palindrome(word.lower())}

print(hamlet)
print(palindromes)

('man', 'level', 'madam')
{'level', 'madam'}

Functions - 예제

In [41]:
def sum(a,b):
  return a+b

print(sum(1, 2))
print(sum(1.3, 3.1))
print(sum('love ', 'python'))

3
4.4
love python

iteration - zip()

In [42]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ":drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday :drink coffee - eat banana - enjoy tiramisu
Tuesday :drink tea - eat orange - enjoy ice cream
Wednesday :drink beer - eat peach - enjoy pie

In [43]:
english= 'Monday', 'Tuesday', 'Wednesday'
french= 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
#[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
dict( zip(english, french) )
#{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

함수 위치 인자

In [44]:
# wine, entree, dessert를받아서딕셔너리로만들어반환하는함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [46]:
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

함수 키워드 인자

In [47]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [48]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

기본 매개변수 값 정하기

In [51]:
# dessert의 기본값을 정해줌
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [52]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [53]:
# dessert 값을 입력한 경우
menu('dunkelfelder', 'duck','doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [55]:
def menu(price, wine='chardonnay', entree='chicken',dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

가능한 경우

In [66]:
# menu(100)
# menu(price=100)
# menu(price=120, entree='beef')
# menu(dessert='bagel', price=110)
menu('eighty', 'saint-pierre', 'fish')
# menu('hundred', wine='saint-pierre')

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

불가능한 경우

In [67]:
menu()# price에 인자가 할당이 안됨
menu(price=100,'saint-pierre') # 키워드 인자 할당 후,위치 인자
menu(100,price = 120) #같은 변수에 두 번 할당
menu(main=‘cream pasta’) # 정의되지 않은 매개 변수

SyntaxError: ignored

docstring

In [69]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [71]:
def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.
  """
  if check:
    print(thing)

In [72]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [73]:
print(echo.__doc__)

echo returns its input argument